<main>
  <section>
    <div class="titulo-categorias">
      <p>Categorías</p>
    </div>
    <ul>
      <li><a href="#">Imprescindibles</a></li>
      <li><a href="#">Ficción</a></li>
      <li><a href="#">Cómics y Manga</a></li>
      <li><a href="#">No Ficción</a></li>
      <li><a href="#">Infantil</a></li>
    </ul>
    <div class="titulo-categorias">
      <p>Filtros</p>
    </div>
    <div class="menu">
      <div class="item">
        <span>Idioma</span>
        <i class="fa-solid fa-angle-down icono"></i>
      </div>
      <div class="item">
        <span>Precio</span>
        <i class="fa-solid fa-angle-up icono"></i>
      </div>
    </div>
  </section>
</main>
