<main>
  <div class="tittle">
    <h1 class="main-tittle-category">Libros de <span style="color: #77CF7C;" >Fantasía</span> </h1>
  </div>

  <article class="main-category">

    <section class="ajustes">
      <p class="titulo-categorias">Categorías</p>
      <ul>
        <li><a href="#">Imprescindibles</a></li>
        <li><a href="#">Ficción</a></li>
        <li><a href="#">Cómics y Manga</a></li>
        <li><a href="#">No Ficción</a></li>
        <li><a href="#">Infantil</a></li>
        <li style="font-weight: bold"><a href="#">Fantasía</a></li>
      </ul>
      <p class="titulo-categorias">Filtros</p>
      <div class="menu">
        <div class="item">
          <p class="parametro">Idioma</p>
          <i class="fa-solid fa-angle-down icono"></i>
        </div>
        <div class="item">
          <p class="parametro">Precio</p>
          <i class="fa-solid fa-angle-down icono"></i>
        </div>
      </div>
    </section>

    <section class="resultados">
      <div class="sort">
        <p style="padding-left: 10px">300 resultados</p>
        <nav id="menu">
          <a href="#">
            {{ tipoDeSortSeleccionado }}
            <i class="fa-solid fa-angle-down icono"></i>
          </a>
          <ul>
            <li><a href="#">Enlace 2.1</a></li>
            <li><a href="#">Enlace 2.2</a></li>
            <li><a href="#">Enlace 2.3</a></li>
          </ul>
        </nav>
      </div>

      <div>

      </div>
    </section>
  </article>
</main>
