<div class="navbar">
  <div class="navbar-row1">
    <div class="left">
      <img src="../assets/Logo.svg" alt="Logo" class="logo"/>
    </div>
    <div class="center">
      <button id="search-icon" class="searchbutton" aria-label="Buscar">
        <i class="fa-solid fa-magnifying-glass textarea-icon"></i>
      </button>
      <input type="text" placeholder="Busca por autor, título, ISBN">
    </div>
    <div class="right">
      <div class="account" hidden="false">
        <img src="../assets/UserIcon.svg" alt="Account" class="icon"/>
        <span class="navbar-link">Mi cuenta</span>
      </div>
      <div class="session" hidden="true">
        <img src="../assets/UserIcon.svg" alt="Account" class="icon"/>
        <span class="navbar-link">Iniciar sesión</span>
      </div>
      <div class="cart">
        <img src="../assets/UserIcon.svg" alt="Shopping Cart" class="icon"/>
        <span class="navbar-link">Cesta</span>
      </div>
    </div>
  </div>

  <div class="navbar-row2">
    <div class="navbar2-items">
      <a href="#" class="navbar-link">Inicio</a>
      <a href="#" class="navbar-link">Imprescindibles</a>
      <a href="#" class="navbar-link">Ficción</a>
      <a href="#" class="navbar-link">No Ficción</a>
      <a href="#" class="navbar-link">Infantil</a>
      <a href="#" class="navbar-link">Cómic y Manga</a>
      <a href="#" class="navbar-link">Ofertas</a>
    </div>
  </div>

</div>
