
<body>
  <div class="author">
    <img class="picture" src="https://upload.wikimedia.org/wikipedia/commons/0/09/Cervantes_J%C3%A1uregui.jpg" alt="Miguel de Cervantes">
    <div class="information">
      <h1>Miguel de Cervantes</h1>
      <p >{{ biographyThogle }}
      </p>
      <div class="leerMas" (click)="toggleText()">{{ buttonText }}</div>
    </div>
  </div>
  <h2>Libros de Miguel de Cervantes</h2>
  <div class="books">

    <div class="bookPreview">
      <img class="bookCover" src="https://m.media-amazon.com/images/I/41RrI0dPBBL.jpg" alt="Miguel de Cervantes">
      <b id="name" class="bookInfo">
        Don quijote de la Mancha
      </b>
      <p id="author" class="bookInfo">
        Miguel de Cervantes
      </p>
    </div>

    <div class="bookPreview">
      <img class="bookCover" src="https://m.media-amazon.com/images/I/41RrI0dPBBL.jpg" alt="Miguel de Cervantes">
      <b id="name" class="bookInfo">
        Don quijote de la Mancha
      </b>
      <p id="author" class="bookInfo">
        Miguel de Cervantes
      </p>
    </div>

    <div class="bookPreview">
      <img class="bookCover" src="https://m.media-amazon.com/images/I/41RrI0dPBBL.jpg" alt="Miguel de Cervantes">
      <b id="name" class="bookInfo">
        Don quijote de la Mancha
      </b>
      <p id="author" class="bookInfo">
        Miguel de Cervantes
      </p>
    </div>

    <div class="bookPreview">
      <img class="bookCover" src="https://m.media-amazon.com/images/I/41RrI0dPBBL.jpg" alt="Miguel de Cervantes">
      <b id="name" class="bookInfo">
        Don quijote de la Mancha
      </b>
      <p id="author" class="bookInfo">
        Miguel de Cervantes
      </p>
    </div>

    <div class="bookPreview">
      <img class="bookCover" src="https://m.media-amazon.com/images/I/41RrI0dPBBL.jpg" alt="Miguel de Cervantes">
      <b id="name" class="bookInfo">
        Don quijote de la Mancha
      </b>
      <p id="author" class="bookInfo">
        Miguel de Cervantes
      </p>
    </div>

    <div class="bookPreview">
      <img class="bookCover" src="https://m.media-amazon.com/images/I/41RrI0dPBBL.jpg" alt="Miguel de Cervantes">
      <b id="name" class="bookInfo">
        Don quijote de la Mancha
      </b>
      <p id="author" class="bookInfo">
        Miguel de Cervantes
      </p>
    </div>

    <div class="bookPreview">
      <img class="bookCover" src="https://m.media-amazon.com/images/I/41RrI0dPBBL.jpg" alt="Miguel de Cervantes">
      <b id="name" class="bookInfo">
        Don quijote de la Mancha
      </b>
      <p id="author" class="bookInfo">
        Miguel de Cervantes
      </p>
    </div>

  </div>

</body>
